# Python
__pycache__/
*.pyc
*.pyo
venv/
.env
*.egg-info/

# ChromaDB
backend/chroma_db/

# Evaluación
backend/evaluation_results/

# Node
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/